<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
  </head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
    <header>
    <nav>
    <a href="/products">HOME</a>
    <a href="/new">CREATE A NEW PRODUCT</a>
    
    </nav>
    </header>

<h1></h1>
    <div class="products">
      <ul>
              <% products.forEach(product => { %>
              <li><a href="/products/<%=product._id%>"> <%=product.name%> </a></li>
              
              <a href="/products/<%=product._id%>">
                  <img src="<%=product.img %>" alt="product picture">
                </a>
              <% }) %>
          </ul>
      </div>
  </body>
  </html>